:root {
    --accent-color: #fe5186;
    --dark-primary: #a9a9b3;
    --light-primary: #222;
}

.logo {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

figure img {
    display: block;
    margin: auto;
}

em {
    font-style: italic;
    color: inherit !important;
}

a {
    transition: color 0.5s ease;
}

a:hover {
    color: var(--accent-color);
}

.content-center {
    height: 100%;
}

#canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.link[data-theme=dark] {
    color: var(--dark-primary);
}

.link[data-theme=light] {
    color: var(--light-primary);
}

.link {
    display: block;
    text-decoration: none; 
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--accent-color);
}

.link[data-theme=dark]::after {
    background-color: var(--dark-primary);
}

.link[data-theme=light]::after {
    background-color: var(--light-primary);
}
.link::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 0;
    transform: scaleY(0);
    transition: background-color 0.5s ease,
                width 0.5s ease,
                transform 0.5s ease;
}

.link:hover::after {
    background-color: var(--accent-color);
    width: 100%;
    transform: scaleY(1);
}

.subtitle {
    width: 60%;
    margin: auto;
}
