:root {
    --accent-color: #fe5186;

    --primary: #222;
    --placeholder: #626262;
    --secondary: #dcdcdc;
    --bg-secondary: #fafafa; 

    --green: #6bcb40;
    --green-dark: #5ebe34;
    --red: #fe5186;
    --red-dark: #fe3874;
}

[data-theme=dark] {
    --primary: #a9a9b3;
    --secondary: #4e4e57;
    --bg-secondary: #1b1c1d;
    
    --green: #356520;
    --green-dark: #254717;
    --red: #652035;
    --red-dark: #521a2b;
}

.bugbo-container {
    display: grid;
    place-items: center;
    width: 100%;
}

.bugbo-image {
    height: 50vh;
    width: auto;
    margin: 1rem;
    border-radius: 4px;
}

.bugbo-container form {
    width: 100%;
}

.bugbo-input {
    border: 2px solid var(--secondary);
    background-color: var(--bg-secondary);
    color: var(--primary);
    width: 100%;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    transition: 0.2s ease;
}

.bugbo-input:focus-within {
    outline: 2px solid var(--accent-color);
}

.bugbo-input span, input {
    margin: 0;
    padding-left: 0.25em;
    font-size: 1rem;
    font-feature-settings: "calt" off;
    letter-spacing: normal;
    font-kerning: none;
}

.bugbo-input input {
    position: relative;
    background-color: transparent;
    border: none;
    width: 100%;
    z-index: 10;
    color: var(--primary);
}

.bugbo-input input::placeholder {
    color: var(--placeholder);
}

.bugbo-input input:focus {
    outline: none;
    color: var(--primary);
}

.bugbo-input span {
    position: absolute;
    color: var(--placeholder);
}

.buglist {
    background-color: var(--bg-secondary);
    padding: 0.25em;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    margin-top: 0.25em;

    max-height: 15em;

    overflow-y: auto;
    box-sizing: border-box;
    display: block;
    position: absolute;
}

.buglist option {
    cursor: pointer;
    display: block;
    padding-left: 0.25em;
}

.buglist option:hover {
    color: var(--accent-color);
}

.buglist option::after {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 0.1rem;
    width: 0;
    transform: scaleY(0);
    transition: 0.5s ease;
}

.buglist option:hover::after {
    background-color: var(--accent-color);
    width: 100%;
    transform: scaleY(1);
}

.bugbo-result {
    padding: 0.25em 0.5em;
    border: 2px solid var(--primary);
    border-radius: 4px;
    width: 100%;
    margin: 1rem;
    line-height: 1.15;
    text-align: center;
    font-weight: bold;
}

.result-correct {
    background-color: var(--green);
    border-color: var(--green-dark);
}

.result-incorrect {
    background-color: var(--red);
    border-color: var(--red-dark);
}

.bugbo-stats {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
}
