:root {
    --accent-color: #fe5186;

    --primary: #222;
    --secondary: #dcdcdc;
    --bg-secondary: #fafafa; 
}

[data-theme=dark] {
    --primary: #a9a9b3;
    --secondary: #4e4e57;
    --bg-secondary: #1b1c1d;
}

.logo {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

img {
    cursor: pointer;
}

figure img {
    display: block;
    margin: auto;
}

em {
    font-style: italic;
    color: inherit !important;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.5s ease;
    position: relative;
    display: inline-block;
}

 .post-content a::after {
    background-color: var(--primary);
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    bottom: 0.25em;
    width: 100%;
    transform: scaleY(1);
    transition: 0.5s ease; 
}

a:hover::after {
    background-color: var(--accent-color);
    width: 0;
    transform: scaleY(0);
}

a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.content-center {
    height: 100%;
}

#canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.link {
    color: var(--primary);
    display: block;
    text-decoration: none; 
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--accent-color);
}

.post-content .link::after {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 0.1rem;
    bottom: 0;
    width: 0;
    transform: scaleY(0);
    transition: 0.5s ease;
}

.link:hover::after {
    background-color: var(--accent-color);
    width: 100%;
    transform: scaleY(1);
}

.subtitle {
    width: 60%;
    margin: auto;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    z-index: 9999;
}

.overlay-image {
    max-width: 75%;
    max-height: 90%;
    height: auto;
    border-radius: 4px;
}

.overlay-close {
    background-color: transparent !important;
    margin-top: 0.5em;
    padding: 0;
}
